@* Create Project Page should be accesible from each user page and should be itegrated into thenavigation bar - it should automatically create a collaborator from the current user ID *@
@model ConstellationWebApp.ViewModels.ProjectCreateViewModel

@{
    ViewData["Title"] = "Edit";

    List<ConstellationWebApp.Models.Project> project = ViewBag.ProjectViewBag;
    var photoPath = "~/image/" + Model.PhotoPath;
}

<h1>Edit Project</h1>
<div class="imageThumbnail">
    @{
        <img class="imageThumbnail" src=" @photoPath" alt="@Html.DisplayFor(model => model.Title)" asp-append-version="true" />
    }
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="Photo" class="form-control custom-file-input" />
                        <label class="custom-file-label">Replace Project Photo ...</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <datalist id="user-list">
                        @{
                            List<ConstellationWebApp.Models.AssignedProjectData> usersCollab = ViewBag.UsersOfConstellation;

                            foreach (var user in usersCollab)
                            {
                                <option value="@user.UserName" data-id="@user.UserID"></option>
                            }
                        @:</datalist>
                    @:</div>
                        }
                    </div>

                    <input list="user-list" name="selectedCollaborators">

                    <div id="demo"></div>
                    <input type="button" id="more_fields" onclick="add_collab();" value="Add Collaborator" />

                    @* Create the Contact Links for the User *@
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <h4>Link Label</h4>
                            <input list='contact-link-label' name='createdLinkLabels'>
                            <h4>Link URL</h4>
                            <input list='contact-link-url' name='createdLinkUrls'>

                            <div id="linkDemo"></div>
                            <input type="button" id="more_fields" onclick="add_fields();" value="Add Link" />
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>


        @section Scripts {
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileName = $(this).val().split("\\").pop();
                        $(this).next('.custom-file-label').html(fileName);
                    });
            </script>
            <script>
                function add_collab() {
                    document.getElementById("demo").innerHTML += "<input list='user-list'   name='selectedCollaborators'> ";
                }
            </script>
            <script>
                function add_fields() {
                    document.getElementById("linkDemo").innerHTML += "<h2>Link Label</h2><input list='contact-link-label' name='createdLinkLabels'><h2>Link URL</h2> <input list='contact-link-url' name='createdLinkUrls'>";

                }
            </script>

            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
