@model ConstellationWebApp.Models.ViewModels.UserEditViewModel

@{
    ViewData["Title"] = "Edit User";

    var photoPath = "~/image/" + (Model.OldPhotoPath);
}
<h1>Edit User</h1>

<div class="imageThumbnail">
    @{
        <img class="imageThumbnail" src=" @photoPath" alt="@Html.DisplayFor(model => model.UserName)" asp-append-version="true" />
    }
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserID" />
            <input type="hidden" asp-for="OldPhotoPath" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seeking" class="control-label"></label>
                <input asp-for="Seeking" class="form-control" />
                <span asp-validation-for="Seeking" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="Photo" class="form-control custom-file-input" />
                        <label class="custom-file-label">Choose File ...</label>
                    </div>
                </div>
            </div>

            @* Create the Contact Links for the User *@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <h4>Link Label</h4>
                    <input list='contact-link-label' name='createdLinkLabels'>
                    <h4>Link URL</h4>
                    <input list='contact-link-url' name='createdLinkUrls'>

                    <div id="demo"></div>
                    <input type="button" id="more_fields" onclick="add_fields();" value="Add Link" />
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
    </script>
    <script>
        function add_collab() {
            document.getElementById("demo").innerHTML += "<input list='user-list'   name='selectedCollaborators'> ";
        }
    </script>
    <script>
        function add_fields() {
            document.getElementById("linkDemo").innerHTML += "<h2>Link Label</h2><input list='contact-link-label' name='createdLinkLabels'><h2>Link URL</h2> <input list='contact-link-url' name='createdLinkUrls'>";

        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
